@charset "UTF-8"

$topbar-background-color: #1374A6
$sidebar-background-color: #178FCC
$footer-background-color: #F8F8F8

$topbar-height: 50px
$sidebar-width: 200px
$footer-height: 40px

$navbar-color: lighten(#36BBFF, 30%)

$gap-s: 5px
$gap: 10px
$gap-l: 20px

.transition
  -webkit-transition: all 0.3s
  transition: all 0.3s