<div class="input-group">
  <input type="{{realType}}" name="{{prop}}" class="form-control datetimepicker" id="editor-popup-input" value="{{value}}" data-format="{{format}}">
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>