<div class="form-group">
  <label for="editor-popup-input">{{label}}</label>
  <input type="checkbox" name="prop" class="switch" id="editor-popup-input" value="{{value}}" {{#if value}}checked {{/if}} />
  <label for="editor-popup-input" class="switch"></label>
</div>