<div class="form-group">
  <label for="editor-popup-input">{{label}}</label>
  <label for="editor-popup-search">请输入关键词：</label>
  <div class="form-group input-group">
    <input type="search" name="query" class="form-control" id="editor-popup-search" autofocus>
    <span class="input-group-btn">
      <button type="button" class="btn btn-default search-button"><i class="fa fa-search"></i></button>
    </span>
  </div>
  <div class="form-group search-result item-grid label-button">
    ${#each list}
    <input type="radio" id="prop-${@index}" name="{{prop}}" value="${id}"><label for="prop-${@index}">${#if icon_path}<img src="${icon_path}" class="icon-mh-25"> ${/if}${topic}${label}</label>
    ${/each}
  </div>
</div>