<div class="input-group">
  <input type="datetime" name="{{prop}}" class="form-control date" id="editor-popup-input" value="{{value}}" data-date-format="YYYY-MM-DD HH:mm:ss">
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
</div>