<form action="{{API}}agreement/{{id}}" class="model-editor" id="popup-form">
  <div class="alert alert-msg" style="display: none"></div>
  <div class="form-group">
    <label for="renew-comment">请填写申请续期的原因：</label>
    <textarea rows="4" class="form-control" name="comment" autofocus></textarea>
  </div>
  <div class="alert alert-info">
    提交申请后，将发送邮件给相关人员。等待领导审批后进行续期。
  </div>
</form>
