CACHE MANIFEST
# {{date}}

# something needs to be cached
CACHE:
index.html
img/fav.png
img/logo.png
css/screen.css
js/bundle.min.js
http://cc-cdn.dianjoy.com/static/img/logo.png
# {{libs}}

# something may not be cached
NETWORK:
js/
page/
template/
docs/
# {{API}}
http://www.google-analytics.com/
http://cc-cdn.dianjoy.com/
*

# something would be used when offline
FALLBACK:
# {{API}}auth/ offline/auth.json