CACHE MANIFEST
# {{date}}

# something needs to be cached
CACHE:
index.html
bower_components/
img/
css/
js/
page/
template/
docs/
http://cc-cdn.dianjoy.com/
http://www.google-analytics.com/

# something may not be cached
NETWORK:
{{API}}
*

# something would be used when offline
FALLBACK:
{{API}}auth/ offline/auth.json