CACHE MANIFEST
# {{date}}

# something needs to be cached
CACHE:
index.html
img/fav.png
img/logo.png
css/screen.css
js/bundle.min.js

# something may not be cached
NETWORK:

# something would be used when offline
FALLBACK:
{{API}}/auth/ offline/auth.json