.ad-date-range
  margin-bottom: 15px

#settlement-period
  margin-top: 5px

#chose-ad-table
  background: #FFFFFF
  border: none

#chose-ad-table:empty
  text-align: center
  border: 3px #D3CCCC dotted
  background: #F0F0F0

#chose-ad-table:empty::after
  content: "没有搜索结果"

