@charset "UTF-8"

@import "compass/css3/opacity"
@import "../../bower_components/colors/sass/variables"
@import "../define"

.dashboard.loading
  @include opacity(.5)

.dashboard-stats

  .circle-title,
  .dashboard-stat-content,
  .more
    background-color: $silver
    color: lighten($silver, 50%)

  .circle-title
    @extend .transition
    border: 3px solid rgba(255, 255, 255, 0.3)
    border-radius: 100%
    display: block
    margin: 0 auto -40px
    width: 80px
    height: 80px
    position: relative
    line-height: 74px
    text-align: center

    &:hover
      background-color: darken($silver, 5%)

  .dashboard-stat-content
    padding: 50px 0 10px
    text-align: center

    h3
      font-size: 1em
      line-height: 2em
      margin: 0

    p
      font-size: 2em
      margin: 0

  .more
    @extend .transition
    background-color: darken($silver, 10%)
    display: block
    line-height: 2em
    text-align: center

    &:hover
      text-decoration: none
      background-color: darken($silver, 15%)

  .stat-primary
    .circle-title,
    .dashboard-stat-content,
    .more
      background-color: $topbar-background-color
      color: lighten($topbar-background-color, 50%)

    .circle-title:hover
      background-color: darken($topbar-background-color, 5%)

    .more
      background-color: darken($topbar-background-color, 10%)

      &:hover
        background-color: darken($topbar-background-color, 12.5%)

  .stat-secondary
    .circle-title,
    .dashboard-stat-content,
    .more
      background-color: $green
      color: lighten($green, 50%)

    .circle-title:hover
      background-color: darken($green, 5%)

    .more
      background-color: darken($green, 10%)

      &:hover
        background-color: darken($green, 12.5%)

  .stat-tertiary
    .circle-title,
    .dashboard-stat-content,
    .more
      background-color: $orange
      color: lighten($orange, 50%)

    .circle-title:hover
      background-color: darken($orange, 5%)

    .more
      background-color: darken($orange, 10%)

      &:hover
        background-color: darken($orange, 12.5%)

  .stat-quartus
    .circle-title,
    .dashboard-stat-content,
    .more
      background-color: $blue
      color: lighten($blue, 50%)

    .circle-title:hover
      background-color: darken($blue, 5%)

    .more
      background-color: darken($blue, 10%)

      &:hover
        background-color: darken($blue, 12.5%)

  .stat-header
    display: table
    width: 100%
    margin-bottom: 0.5em

  .stat-label
    display: table-cell
    width: 50%
    color: #999
    font-weight: 600
    text-transform: uppercase

  .stat-value
    display: table-cell
    width: 50%
    margin-top: -1.15em
    color: #666
    font-size: 15px
    font-weight: 600
    text-align: right
    text-transform: uppercase