@charset "UTF-8"

@import "../define"

.Android .iPhone,
.iPhone .Android
  display: none

#app-uploader
  .su-tabs + button
    margin-bottom: $gap

.form-group.provinces
  display: none

  .show-provinces &
    display: block

.feedback-detail
  display: none

  .show-feedback-detail &
    display: block

.aso
  display: none