.invoice-margin
  margin-top: 10px

.readonly
  width: 250px
  height: 34px
  padding: 0
  border: none
  background: #F0F0F0
  color: #000

#description
  margin-bottom: 10px
  padding: 0

.pd
  padding: 0

.edit-button, #agreement-number
  cursor: pointer