@charset "UTF-8"

@import "../../bower_components/colors/sass/variables"
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../define"

body.login
  background-color: $topbar-background-color

#login

  .logo
    position: absolute
    top: -50px
    left: 50%
    z-index: 100
    width: 100px
    height: 100px
    margin-left: -50px
    padding: 20px 30px 30px 20px
    background-color: $red
    border: 4px solid rgba(255, 255, 255, .4)
    border-radius: 100%

  h3
    text-align: center

  form
    padding: 0
    margin-top: 1em
    margin-bottom: 1em

    label
      display: none

    .form-control
      height: 40px
      padding-top: 8px
      padding-bottom: 8px

  #verify-code
    cursor: pointer

  button
    padding-top: 10px
    padding-bottom: 10px
    font-size: 20px

  .form-group
    margin-bottom: $gap-l

  #page-container &
    padding: 65px $gap-l $gap-l
    background-color: #FFF
    border-radius: 4px
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.65)
    position: absolute
    top: 5em
    left: 50%
    margin-left: -200px
    width: 400px

    @media (max-width: $screen-xs-max)
      &
        margin-top: 50px

  .modal-body &
    .logo, h3, h5
      display: none
