<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>测试 DateRanger</title>
  <link rel="stylesheet" href="../../bower_components/qunit/qunit/qunit.css">
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="../../bower_components/qunit/qunit/qunit.js"></script>
<script src="../../bower_components/nervenet/nervenet.min.js"></script>
<script src="../../bower_components/underscore/underscore-min.js"></script>
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../bower_components/backbone/backbone-min.js"></script>
<script src="../../bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="../../js/component/DateRanger.js"></script>
<script src="DateRanger.js"></script>
</body>
</html>