.label
  &.status-0
    background-color: $label-success-bg

  &.status-1
    background-color: $label-default-bg

  &.status-2,
  &.status-3
    background-color: $label-info-bg

  &.status-4
    background-color: $label-danger-bg

  &.level
    background-color: #9B59B6

  &.weight
    background-color: #FF9933

  &.label-channel,
  &.label-channel_alias,
  &.label-source,
  &.label-agreement,
  &.label-agreement_id
    background-color: $label-info-bg

  &.label-ad_name
    background-color: $label-success-bg

  &.label-timer
    background-color: $yellow