@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"

@media (max-width: $screen-xs-max)
  .table-header
    .form-group
      width: 100%

  .pagination
    margin: 0

  .dashboard-stat
    margin-top: $gap-p


