
.keyword-form
  margin-top: 0

@media screen and (max-width: 768px)
  .table-header
    .form-group
      float: left

  #pagesize
    width: auto

  .pagination
    margin: 0

  .keyword-form
    float: left

    .form-group
      display: inline-block


  .col-md-3, .col-sm-6
    margin-top: $gap-p


  thead
    display: none

  tbody
    display: block
    tr
      td
        display: block
        vertical-align: middle
        text-align: left
        min-height: 37px
        margin-right: 50%

      td[data-title]:before
        content: attr(data-title)
        margin-right: $gap-p
        white-space: nowrap
        text-align: right
        font-size: inherit
        width: 50%

