@charset "UTF-8"

@import "../define"

.modal

  .modal-header
    background-color: $topbar-background-color

  .modal-footer
    background-color: $background-color

  &.loading
    p
      text-align: center