@charset "UTF-8"

@import "../../bower_components/colors/sass/variables"

.portlet

  .portlet-leading
    background-color: $silver
    color: $white
    padding: 0 15px

  .portlet-title
    font-size: 1.15em
    line-height: 40px
    margin: 0

  .portlet-body
    background-color: $white
    border: 1px solid $silver
    border-top: none
    min-height: 100px

.portlet-green
  .portlet-leading
    background-color: $green

  .portlet-body
    border-color: $green

.portlet-blue
  .portlet-leading
    background-color: $blue

  .portlet-body
    border-color: $green