@charset "UTF-8"

@import "../../bower_components/colors/sass/variables"
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../bower_components/font-awesome/scss/variables"
@import "compass/css3/opacity"
@import "../define"

table
  background-color: $white

  .order.active
    color: $brand-info
    font-size: 1.15em

    &:after
      content: $fa-var-arrow-up
      font-family: 'FontAwesome', sans-serif

    &.inverse:after
      content: $fa-var-arrow-down

  .platform
    font-size: 1.25em
    margin-right: 0.25em

    &.fa-android
      color: $android

    &.fa-apple
      color: $silver

  .label
    font-size: 100%

    &.status-0
      background-color: $label-success-bg

    &.status-1
      background-color: $label-default-bg

    &.status-2,
    &.status-3
      background-color: $label-info-bg

    &.status-4
      background-color: $label-danger-bg

    &.level
      background-color: #9B59B6

    &.weight
      background-color: #FF9933

    &.label-channel,
    &.label-channel_alias,
    &.label-source,
    &.label-agreement,
    &.label-agreement_id
      background-color: $label-info-bg

    &.label-ad_name
      background-color: $label-success-bg

    &.label-timer
      background-color: $yellow

    &[data-toggle]
      cursor: pointer

  th .label
    margin-left: 0.5em

  td .label
    margin-right: 0.5em

  .status

    &.text-success
      font-size: 1.15em

    &.text-muted
      color: $gray

  input.status-button
    display: none

  tr.show
    display: table-row !important

  td.btn-group
    display: table-cell
    white-space: nowrap
    font-size: 0

    .btn
      float: none

  + .pagination
    margin: 0

  &.loading
    @include opacity(0.5)

  tfoot.waiting
    text-align: center

.table-header
  margin-bottom: 1em

  [type=search] + .fa-spinner
    position: absolute
    top: 0
    right: 10px
    line-height: 34px

  .form-group
    position: relative