<table class="table table-bordered table-striped">
  <h4>选择结算的广告：</h4>
    <form class="ajax" action="{{API}}baobei/{{id}}" method="post" id="popup-form">
        <div>
            <label class="col-md-4">
               <input type="checkbox"  value="option1"> 沃游戏
            </label>
            <label class="col-md-4">
                <input type="checkbox" value="option2"> 360卫士
            </label>
            <label class="col-md-4">
                <input type="checkbox" value="option3"> 看点
            </label>
        </div>
        <div>
            <label class="col-md-4">
                <input type="checkbox"  value="option1"> 一号店
            </label>
            <label class="col-md-4">
                <input type="checkbox"  value="option2"> 去动
            </label>
            <label class="col-md-4">
                <input type="checkbox"  value="option3"> 360问股
            </label>
        </div>
        <div>
            <label class="col-md-4">
                <input type="checkbox"  value="option1"> 职脉圈
            </label>
            <label class="col-md-4">
                <input type="checkbox"  value="option2"> 虾米音乐
            </label>
            <label class="col-md-4">
                <input type="checkbox"  value="option3"> 脸蛋
            </label>
        </div>
    </form>
</table>
