<div class="container">
  <div class="col-sm-6 col-sm-offset-3 well">
    <h2>404</h2>
    <h4><i class="fa fa-warning text-danger"></i> 路径无效</h4>
    <p>
      您要访问的页面不存在，请核对后再试。如有问题请和后台管理员联系。
    </p>
  </div>
</div>
