@charset "UTF-8"

@import "../define"
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../bower_components/colors/sass/variables"

body
  background-color: $background-color

.mt2e
  margin-top: 2em

.mr2e
  margin-right: 2em

.new
  color: $red

.tac
  text-align: center

// pit和hide的不同之处在于，hide有逻辑，pit只表示这里是个坑
.pit
  display: none !important

@media (max-width: $screen-xs-max)
  html
    height: 100%
    margin: 0

  body
    height: 100%
