@charset "UTF-8"

@import "../../bower_components/colors/sass/variables"
@import "../define"


@media screen and (max-width: 768px)
  #navbar-top
    position: relative
  .container-fluid
    padding: 0
  .navbar-header
    padding: 0 15px
  .navbar-top-inner
    zoom: 1
    &:after
      height: 0
      display: block
      visibility: hidden
      font-size: 0
      content: ""
      clear: both
  #navbar-top-inner
    background-color: #ffffff
    width: 100%
  .navbar-right
    float: right
    clear: both
    padding-right: 30px
    li
      display: inline-block
  .navbar-nav .open .dropdown-menu
    position: absolute
    top: 100%
    left: auto
    right: 0
    background-color: white
    min-width: 100px
    line-height: 35px
  .navbar-fixed-top
    border: 0
  i.fa.fa-bell
    color: #333
  #user-name
    color: #333
  #caret
    color: #333

#navbar-top
  background-color: $topbar-background-color
  border-color: darken($topbar-background-color, 5%)
  color: $navbar-color

  .navbar-brand
    color: $white
    background: url(../img/logo.png) no-repeat 7px center
    background-size: 36px auto
    text-indent: 36px
    position: relative

    &:after
      content: 'alpha'
      display: block
      position: absolute
      top: $gap-s
      right: -$gap-p
      color: $aqua
      font-size: 8px

  .nav > li > a
    color: $navbar-color

    &:hover,
    &:active,
    &.active
      background-color: lighten($topbar-background-color, 10%)
      color: $white

  .nav .open > a
    background-color: lighten($topbar-background-color, 10%)

  .system-notice
    .dropdown-toggle
      span
        position: absolute
        top: $gap-s
        right: 0
        background-color: $red
        border-radius: 100%
        color: $white
        font-size: 10px
        text-align: center
        line-height: 20px
        width: 20px

    .alarm
      padding: 0 $gap-l
      white-space: nowrap

      input:checked + a
        text-decoration: line-through

        strong
          font-weight: normal

      > a
        display: inline-block
        padding: 3px 0

.accordion-toggle
  background-color: $sidebar-background-color
