@charset "UTF-8"

@import "../../bower_components/colors/sass/variables"
@import "../define"
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"

@media (max-width: $screen-xs-max)
  .navbar-brand
    margin-left: 0

  #navbar-top
    position: relative
    margin-bottom: 0

  .container-fluid
    padding: 0

  .navbar-header
    padding: 0 $gap-p

  .navbar-top-inner
    background-color: #fff
    width: 100%

  .navbar-right
    float: right
    clear: both
    margin-right: $gap-p
    li
      display: inline-block

  .navbar-nav .open .dropdown-menu
    position: absolute
    top: 100%
    left: auto
    right: 0
    background-color: white

  .username, .dropdown .caret, .dropdown-toggle i
    color: #000

  .navbar-fixed-top
    border: 0


#navbar-top
  background-color: $topbar-background-color
  border-color: darken($topbar-background-color, 5%)
  color: $navbar-color

  .navbar-brand
    color: $white
    background: url(../img/logo.png) no-repeat 7px center
    background-size: 36px auto
    text-indent: 36px
    position: relative

    &:after
      content: 'beta'
      display: block
      position: absolute
      top: $gap-s
      right: -$gap-p
      color: $aqua
      font-size: 8px

  .nav > li > a
    color: $navbar-color

    &:hover,
    &:active,
    &.active
      background-color: lighten($topbar-background-color, 10%)
      color: $white

  .nav .open > a
    background-color: lighten($topbar-background-color, 10%)

  .system-notice
    .dropdown-toggle
      span
        position: absolute
        top: $gap-s
        right: 0
        background-color: $red
        border-radius: 100%
        color: $white
        font-size: 10px
        text-align: center
        line-height: 20px
        width: 20px

    .dropdown-menu
      max-height: 640px
      overflow: auto

    .alarm
      padding: 0 $gap-l
      white-space: nowrap

      input:checked + a
        text-decoration: line-through

        strong
          font-weight: normal

      > a
        display: inline-block
        padding: 3px 0

    .op
      padding: 0 $gap-l $gap-s

      .label
        display: inline-block
        margin-bottom: 0
  .invoice-list
    .settle-time-picker
      padding: $gap-s $gap-l
      color: $black
    .ids
      padding: $gap-s $gap-l
      color: $black
      white-space: nowrap
      input
        display: inline-block
.accordion-toggle
  background-color: $sidebar-background-color
